@model IEnumerable<HospitalPortal.Models.ViewModels.TestDTO>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<style>
    #mainContainer { 
        margin-top: 1%;
        margin-left: 1%;
    }
</style>

<div id="mainContainer">
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Add More", "Add", null, new { @class = "btn btn-info" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Test List</h3>
        </div>
    </div>

    @*@using (Html.BeginForm("All", "AddTest", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                Search By Test Category
            </div>
            <div class="col-md-3">
                <input type="text" name="term" id="term" />
            </div>
            <div class="col-md-3" style="margin-left: 11%;">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    }*@




    <div class="row">
        <div class="col-md-12">
            <table id="myTable" class="table table-bordered">
                <thead style="background-color:lavender;">
                    <tr>
                        <th>Sr No.</th>
                        <th>Test Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.TestName</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

