@model IEnumerable<HospitalPortal.Models.ViewModels.LabDTO>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string Role = HospitalPortal.Utility.UserIdentity.UserRole;
    int count = 1;
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/js/jquery.doubleScroll.js"></script>
<style>
    #mainContainer {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
    }

    .double-scroll {
        width: 99%;
    }
</style>


    <div id="mainContainer">
        @using (Html.BeginForm("All", "Lab", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="term" name="term" placeholder="Serach by Name and ID" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
                <div class="col-md-3">
                    <a href="/Lab/All" class="btn btn-primary">Show All</a>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                <h3>Lab List</h3>
            </div>
        </div>

        <div class="double-scroll">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Lab Id</th>
                        <th>Lab Name</th>
                        <th>Franchise</th>
                        <th>Phone No</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Licence</th>
                        <th>Licence No</th>
                        <th>PAN</th>
                        <th>GST Number</th>
                        <th>AadharNo</th>
                        <th>Approval</th>
                        <th>Approval for Bank Update</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.lABId</td>
                            <td>@item.LabName</td>
                            <td>
                                @if (item.Vendor_Id == 0 || item.Vendor_Id == null)
                                {
                                    if (Role == "admin")
                                    {
                                        <a href="/Admin/ShareToVendor?Id=@item.Id&Role=Lab">Share To Vendor</a>
                                    }
                                }
                                else
                                {
                                    <a href="/Admin/ShareToVendor?Id=@item.Id&Role=Lab">Change Franchise</a>
                                    @item.VendorName <span>/ @item.UniqueId</span>
                                }
                            </td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.EmailId</td>
                            <td>@item.Location, @item.LocationName , @item.CityName, @item.StateName</td>
                            <td>
                                <a href="/Images/@item.LicenceImage">
                                    <img src="/Images/@item.LicenceImage" style="width:100px;height:80px" />
                                </a>
                            </td>
                            <td>@item.LicenceNumber</td>
                            <td>
                                @item.PAN
                                <a href="/Images/@item.PanImage">
                                    <img src="/Images/@item.PanImage" style="width:100px;height:80px" />
                                </a>
                            </td>
                            <td>@item.GSTNumber</td>

                            <td>@item.AadharNumber</td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    @Html.ActionLink("Approved", "UpdateStatus", new { id = item.Id }, new { @class = "btn btn-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Not Approved", "UpdateStatus", new { id = item.Id }, new { @class = "btn btn-danger" })
                                }
                            </td>
                            <td>
                                @if (item.IsBankUpdateApproved)
                                {
                                    <a href="/Lab/UpdateBankUpdateStatus?id=@item.Id" class="btn btn-success">Update Bank Approved</a>
                                }
                                else
                                {
                                    <a href="/Lab/UpdateBankUpdateStatus?id=@item.Id" class="btn btn-danger">Update Bank Not Approved</a>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to Edit?');", @class = "btn btn-info" })
                                <a href="/Common/BankDetails?Id=@item.AdminLogin_Id" class="btn btn-primary">Bank Details</a>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');", @class = "btn btn-danger" })
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>

        </div>


<script>
    $('.double-scroll').doubleScroll();
</script>
