@model HospitalPortal.Models.ViewModels.ReportDTO

@{
    ViewBag.Title = "Doctor";
    Layout = null;
    int count = 1;
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<h2>Doctor List</h2>
<div style="margin:auto; width:85%">

    
    <div class="row" style="margin-bottom: 3%;">
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.startdate, new { @class = "form-control", required = "required", type = "date" })
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.enddate, new { @class = "form-control", required = "required", type = "date" })
        </div>
        <div class="col-md-2">
            <input type="button" id="test" value="Search" class="btn btn-primary" />
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.DoctorName, new { @class = "form-control", required = "required", placeholder = "Search by Name & Unique Id" })
        </div>
        <div class="col-md-2">
            <input type="button" id="test2" value="Search" class="btn btn-primary" />
        </div>
    </div>
   

    <table class="table table-bordered">
        <thead style="background-color:lavender;">
            <tr>
                <th>
                    Sr No.
                </th>
                <th>
                    Doctor Name
                </th>
                <th>
                    Total Amount
                </th>
                <th>
                    TDS Amount @ViewBag.TDS %
                </th>
                <th>
                    After TDS Payable Amount
                </th>
            </tr>
        </thead>
        @if (Model.DoctorCommisionReport == null)
        {
            if (TempData["msg"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["msg"];
                </div>
                
            }
        }
        else
        {
            <tbody>
                @{
                    double TotalBasicAmount = 0;
                    double TotaltdsAmount = 0;
                    double totalPayableAmount = 0;
                }
                @foreach (var item in Model.DoctorCommisionReport)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.DoctorName (@item.DoctorId)</td>
                        <td> ₹ @item.Amount  </td>

                        @{
                            double amt = (Math.Round(item.Amount * ViewBag.TDS) / 100);
                            double Value = item.Amount - amt;
                            TotalBasicAmount += item.Amount;
                            TotaltdsAmount += amt;
                            totalPayableAmount += Value;
                        }
                        <td>₹ @amt</td>
                        <td>₹ @Value</td>
                    </tr>
                    count++;
                }
            </tbody>
                           
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right;"><strong>Total:</strong></td>
                    <td><strong>₹ @TotalBasicAmount</strong></td>
                    <td><strong>₹ @TotaltdsAmount</strong></td>
                    <td><strong>₹ @totalPayableAmount</strong></td>
                    <td></td>
                </tr>
            </tfoot>
                            }
        </table>
   

    

</div>
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
 $(".datepicker").datepicker().datepicker('setdate','today');

    $("#test").click(function () {
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();

        $.ajax({
            url: "/TDSReport/Doctor",
            type: "get",
            data: {
                term: "Doctor",
                startDate: startDate,
                endDate: endDate
            },
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });



 });


    $("#test2").click(function () {
        debugger;
        var name = $("#DoctorName").val();
        var doctorId = $("#DoctorId").val();
        $.ajax({
            url: "/TDSReport/Doctor",
            data: { term: "Doctor", Name: name, DoctorId: doctorId },
            type: "GET",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });

</script>
