@model HospitalPortal.Models.ViewModels.ReportDetails
@{
    ViewBag.Title = "Daily";
    int count = 1;
}



<link href="/css/bootstrap.min.css" rel="stylesheet" />
<style>
    #main {
        margin: 6%;
    }
</style>


<div id="main">
    <a href="/VendorReport/Doctor" class="btn btn-primary" style="margin-top:1%; margin-bottom:2%;">Back</a>
     
    <table id="table_id" class="table table-bordered">
        <thead style="background-color:lavender;">
            <tr>
                <th>Sr No.</th>
                <th>
                    Vendor Name (Id)
                </th>
                <th>
                    Company Name
                </th>
                <th>Doctor Name (Id)</th>
                <th>
                    Total Amount
                </th>
            </tr>
        </thead>
        @if (Model.Vendors == null)
        {
            if (TempData["msg"] != null)
            {
                
                <div class="alert alert-danger">
                    @TempData["msg"]
                </div>
            }
        }
        else
        {
            <tbody>
                @foreach (var item in Model.Vendors)
                {
                    <tr>
                        <td>@count</td>
                        <td>
                            @item.Name (@item.VendorId)
                        </td>
                        <td>
                            @item.Name1
                        </td>
                        <td>@item.UserName (@item.UniqueId)</td>
                        <td>
                            @item.Counts
                        </td>

                    </tr>
                    count++;
                }

            </tbody>
        }
    </table>
    
</div>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $('#table_id').DataTable();
</script>
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');
</script>
<script>
    $("#test").click(function () {
        debugger
        var date = $("#date").val();
        $.ajax({
            url: "/VendorReport/DailyDoc?date=" + date + "",
            type: "get",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
</script>

