@model HospitalPortal.Models.ViewModels.ReportDetails
@{
    ViewBag.Title = "ViewReport";
    int count = 1;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="year" class="form-control" placeholder="Enter Any Year" />
        </div>
        <div class="col-md-4">
            <input type="button" id="test" value="Search" class="btn btn-primary" />
        </div>
    </div>
}
<table id="table_id" class="table table-bordered">
    <thead style="background-color:lavender;">
        <tr>
            <th>Sr No.</th>
            <th>
                Vendor Name (Id)
            </th>
            <th>
                Company Name
            </th>
            <th>Nurse Name (Id)</th>
            <th>
                Total Amount
            </th>
        </tr>
    </thead>
    @if (Model.Vendors == null)
    {
        if (TempData["msg"] != null)
        {
            <div class="alert alert-danger">
                @TempData["msg"]
            </div>
        }
    }
    else
    {
        <tbody>
            @foreach (var item in Model.Vendors)
            {
                <tr>
                    <td>@count</td>
                    <td>
                        @item.Name (@item.VendorId)
                    </td>
                    <td>
                        @item.Name1
                    </td>
                    <td>@item.UserName (@item.UniqueId)</td>
                    @{

                    }
                    <td>
                        @item.Counts
                    </td>
                </tr>
                count++;
            }

        </tbody>
    }
</table>

<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $('#table_id').DataTable();
</script>
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $("#test").click(function () {
        debugger
        var year = $("#year").val();
        $.ajax({
            url: "/VendorReport/YearlyNur?year=" + year + "",
            type: "get",
            success: function (response) {
                $("#prevAtt").html(response);
            },
            error: function (error) {

            }

        });
    });
</script>