@model IEnumerable<HospitalPortal.Models.ViewModels.InvoiceDTO>
@{
    ViewBag.Title = "DoctorInvoiceReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}



<div class="mainContainer">
    <div class="row">
        <div class="col-md-6">
            <h3>Doctor Invoice Report</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="myTable" class="table table-bordered">
                <thead style="background-color:lavender;">
                    <tr>
                        <th>Sr No.</th>
                        <th>Doctor Name/Id</th>
                        <th>Address</th>
                        <th>Department Name</th>
                        <th>Specialist Name</th>
                        <th>Patient Name/Id</th>
                        <th>Appointment Date</th>
                        <th>Payment Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.ServiceProviderName /@item.UniqueId</td>
                            <td>@item.Location</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.SpecialistName</td>
                            <td>@item.PatientName /@item.PatientRegNo</td>
                            <td>@item.AppointmentDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.PaymentDate</td>
                            <td><a href="/Incvoice/DoctorInvoice?InvoiceNumber=@item.InvoiceNumber" class="btn btn-info"><i class="fa fa-file-pdf-o"></i>Get Invoice</a></td>
                             
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>