@model HospitalPortal.Models.ViewModels.DriverDTO
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string display = Model.IsVerifiedByPolice ? "block" : "none";
}

<style>
    #mainContainer {
        width: 60%;
        margin-top: 1%;
        margin-left: 1%;
    }
</style>

@using (Html.BeginForm("Edit", "Driver", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div id="mainContainer">
        @Html.HiddenFor(a => a.Vendor_Id) 
        <a href="/Driver/All" class="btn btn-info">Back</a>
        <div class="row">
            <div class="col-md-6">
                <h3>Upadate Driver Detail</h3>
            </div>
        </div>
        @Html.HiddenFor(a => a.IsCheckedTermsCondition)
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.IsDeleted)
        @Html.HiddenFor(a => a.IsApproved)
        @Html.HiddenFor(a => a.AdminLogin_Id) 
        @Html.HiddenFor(a => a.DlImage)
        @Html.HiddenFor(a => a.DlImage1)
        @Html.HiddenFor(a => a.DlImage2)
        @Html.HiddenFor(a => a.DlImage3)
        @Html.HiddenFor(a => a.DriverImage)
        @Html.HiddenFor(a => a.AadharImage)
        @Html.HiddenFor(a => a.AadharImage2) 
        @Html.HiddenFor(a => a.VerificationDoc)  
        @Html.Partial("~/Views/Shared/_DisplayMessageUpdate.cshtml")


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Driver Name * @Html.TextBoxFor(a => a.DriverName, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.DriverName)
                    </span>
                </div>
                @{Html.EnableClientValidation(false);}
           
                 
                <div class="form-group">
                    Email Id  @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.EmailId)
                    </span>
                </div>
                <div class="form-group">
                    Mobile No.  @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.MobileNumber)
                    </span>
                </div>
                <div class="form-group" style="display:none;">
                    Charge  @Html.TextBoxFor(a => a.Paidamount, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.Paidamount)
                    </span>
                </div> 
                <div class="form-group">
                    State * @Html.DropDownListFor(a => a.StateMaster_Id, Model.States, "Select State", new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.StateMaster_Id)
                    </span>
                </div>

                <div class="form-group">
                    District * @Html.DropDownListFor(a => a.CityMaster_Id, Model.Cities, "Select District", new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.CityMaster_Id)
                    </span>
                </div> 
                <div class="form-group">
                    Location * @Html.TextAreaFor(a => a.Location, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.Location)
                    </span>
                </div>
                <div class="form-group">
                    Pin Code * @Html.TextBoxFor(a => a.PinCode, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.PinCode)
                    </span>
                </div> 
                <div class="form-group">
                    DL Image *
                    @if (!string.IsNullOrEmpty(Model.DlImage))
                    {
                        <img src="/Images/@Model.DlImage" class="thumb" />
                        <img src="/Images/@Model.DlImage1" class="thumb" />
                    }
                    <fieldset style="margin-top:3%; margin-bottom:3%;">
                        <legend><b>Driver's Licence Images: </b></legend>
                        <div class="form-group">
                            DL Image 1* : @Html.TextBoxFor(a => a.DlFile, new { @class = "form-control", type = "file" })
                            <span class="red">
                                @Html.ValidationMessageFor(a => a.DlFile)
                            </span>
                        </div>

                        <div class="form-group">
                            DL Image 2* : @Html.TextBoxFor(a => a.DlFile1, new { @class = "form-control", type = "file" })
                            <span class="red">
                                @Html.ValidationMessageFor(a => a.DlFile1)
                            </span>
                        </div>
                    </fieldset>
                </div> 
                <div class="form-group">
                    DL Number * @Html.TextBoxFor(a => a.DlNumber, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.DlNumber)
                    </span>
                </div>
                <div class="form-group">
                    Pan Number * @Html.TextBoxFor(a => a.PAN, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.PAN)
                    </span>
                </div>

                <div class="form-group">
                    DL Valid Upto * @Html.TextBoxFor(a => a.DlValidity, new { @class = "form-control dp" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.DlValidity)
                    </span>
                </div> 
                <div class="form-group">
                    <div class="form-group" id="AadharimageDiv">
                        <div class="form-group">
                            Aadhar Image 1*  @Html.TextBoxFor(a => a.AadharImageFile, new { @class = "form-control", type = "file" })
                            <span class="red">
                                @Html.ValidationMessageFor(a => a.AadharImageFile)
                            </span>
                        </div>
                        <div class="form-group">
                            Aadhar Image 2*  @Html.TextBoxFor(a => a.AadharImageFile2, new { @class = "form-control", type = "file" })
                            <span class="red">
                                @Html.ValidationMessageFor(a => a.AadharImageFile2)
                            </span>
                        </div>
                    </div> 
                  
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>

    </div>
 
}

<script src="/Scripts/Library/jquery-1.7.1.min.js"></script>
<script>
    $("#StateMaster_Id").change(function () {
        var stateId = $(this).val();
        var city = $("#CityMaster_Id");
        city.empty();
        city.append("<option value=''>Select</option>");
        $.ajax({
            url: '/Common/GetCitiesByState?stateId=' + stateId,
            type: 'get',
            success: function (response) {
                $.each(response, function (key, val) {
                    city.append("<option value='" + val.Id + "'>" + val.CityName + "</option>");
                });
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
    $("#IsVerifiedByPolice").click(function () {
        $("#verificationDiv").toggle();

    });

    $('input:radio[id="Image1"]').change(function () {
        if ($(this).val() == 'Aadhar') {
            $("#PanimageDiv").css("display", "none");
            $("#AadharimageDiv").toggle();
        }
    });

    $('input:radio[id="Image2"]').change(function () {
        if ($(this).val() == 'Pan') {
            $("#AadharimageDiv").css("display", "none");
            $("#PanimageDiv").toggle();
        }

    });
</script>
@if (Model.IsApproved == false)
{
    <script src="~/Scripts/EditAlert.js"></script>
}
 