@model HospitalPortal.Models.ViewModels.ReportDTO
@{
    ViewBag.Title = "NurseDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="/Styles/bootstrap.min.css" rel="stylesheet" />
<h2>Details of <span style="color:red">@Model.DoctorName</span></h2>

 

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <input type="hidden" name="DoctorId" id="DoctorId" value="@Model.Doctor_Id" />
            @Html.TextBoxFor(a => a.AppointmentDate, new { @class = "form-control", required = "required", type = "date" })
        </div>
        <div class="col-md-3">
            <input type="submit" value="Click" />
        </div>
    </div>
}

@if (Model.DoctorCommisionReport == null)
{
    if (TempData["msg"] != null)
    {
        <h3 style="color:red">@TempData["msg"]</h3>
    }
}
else
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Appointment Date</th>
                <th>
                    Amount
                </th>
                <th>
                    Commission Amount(in %)
                </th>
                <th>Payment Date</th>
                <th>
                    Commission Amount
                </th>

                <th>
                    Payable Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DoctorCommisionReport)
            {
                <tr>
                    <td>@item.Appointment</td> 
                    <td>₹ @item.Amount</td> 
                    <td>@ViewBag.Commission</td>
                    <td>@item.PaymentDate</td>

                    @{
                        if (item.Amount == null)
                        {
                            item.Amount = 0;
                        }
                        else
                        {
                            item.Amount = item.Amount;
                        }
                        double? amt = (Math.Round(item.Amount * ViewBag.Commission) / 100);
                        double? Value = item.Amount - amt;
                    }
                <td>
                    ₹ @amt
                </td>
                <td>
                    ₹ @Value
                </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(".datepicker").datepicker({});

    $("#test2").click(function () {
        debugger;
        var name = $("#DoctorName").val();
        var date = $("#AppointmentDate").val();
        $.ajax({
            url: "/CommisionReport/Doctor",
            data: { term: "Doctor", Name: name, AppointmentDate: date },
            type: "GET",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
</script>