@model HospitalPortal.Models.ViewModels.ReportDTO

@{
    ViewBag.Title = "Doctor";
    Layout = null;
}
<link href="/Styles/bootstrap.min.css" rel="stylesheet" />

<h2>Doctor List</h2>

<div class=" row">
    <div class="col-md-3">
        <div class=" form-group">
            <a href="@Url.Action("DownloadDoctorExcel", "CommisionReport")">
                <img src="https://www.pinclipart.com/picdir/big/178-1780962_download-105-free-excel-icons-here-excel-download.png" alt="List View" style="width: 55px;">
            </a>
        </div>
    </div>
</div>

<div style="margin:auto; width:85%">

    <div class="row" style="margin-bottom: 3%;">
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.AppointmentDate, new { @class = "form-control", required = "required", type = "date" })
        </div>
        <div class="col-md-3">
            <input type="button" id="test" value="Search" class="btn btn-primary" />
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.DoctorName, new { @class = "form-control", required = "required", placeholder = "Search by Name" })
        </div>
        <div class="col-md-3">
            <input type="button" id="test2" value="Search" class="btn btn-primary" />
        </div>
    </div>

    @if (Model.DoctorCommisionReport == null)
    {
        if (TempData["msg"] != null)
        {
            @TempData["msg"];
        }
    }
    else
    {

        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Doctor Name
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Commission Amount (in %)
                    </th>
                    <th>
                        Commission Amount
                    </th>
                    <th>
                        Payable Amount
                    </th>
                    <th>
                       Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    double totalPayableAmount = 0;
                    double totalCommissionAmount = 0; // Add variable for total commission amount
                    double totalAmount = 0; // Add variable for total amount
                }
                @foreach (var item in Model.DoctorCommisionReport)
                {
                    <tr>
                        <td>@item.DoctorName (@item.DoctorId)</td>
                        <td> ₹ @item.Amount</td>
                        <td>
                            @ViewBag.Commission %
                        </td>
                        @{
                            double amt = (Math.Round(item.Amount * ViewBag.Commission) / 100);
                            double payableAmount = item.Amount - amt;
                            totalAmount += item.Amount; // Update total amount
                            totalCommissionAmount += amt; // Update total commission amount
                            totalPayableAmount += payableAmount;
                        }
                        <td>₹ @amt</td>
                        <td>₹ @payableAmount</td>
                        <td><a href="DoctorDetails?DoctorId=@item.Doctor_Id" class="btn btn-primary">View Details</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1" style="text-align: right;">
                        <strong>Total Amt:</strong>
                    </td>
                    <td>
                        <strong>₹ @totalAmount</strong>
                    </td>
                    <td colspan="1" style="text-align: right;">
                        <strong>Total Comm:</strong>
                    </td>
                    <td>
                        <strong>₹ @totalCommissionAmount</strong>
                    </td>
                    <td>
                        <strong>₹ @totalPayableAmount</strong>
                    </td>
                </tr>
            </tfoot>
        </table>



    }

 

</div>   
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script> 
<script>
 $(".datepicker").datepicker().datepicker('setdate','today');

 $("#test").click(function () {
     var date = $("#AppointmentDate").val();
     $.ajax({
         url: "/CommisionReport/Doctor?term=Doctor&AppointmentDate=" + date + "",
         type: "get",
         success: function (response) {
             console.log(response);
             $("#prevAtt").html(response);
         },
         error: function (error) {
             console.log(error.responseText);

         }
     });

 });


    $("#test2").click(function () {
        debugger;
        var name = $("#DoctorName").val();
        var date = $("#AppointmentDate").val();
        $.ajax({
            url: "/CommisionReport/Doctor",
            data: { term: "Doctor", Name: name, AppointmentDate: date },
            type: "GET",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });

</script>          
