@model HospitalPortal.Models.ViewModels.AmbulancesReport

@{
    ViewBag.Title = "DailyRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}
<link href="/Styles/bootstrap.min.css" rel="stylesheet" />
<h2>Weekly Record</h2>

<style>
    #main {
        margin: 6%;
    }
</style>
<div id="main">


    
    <table id="table_id" class="table table-bordered">
        <thead style="background-color:lavender;">
            <tr>
                <th>Sr No.</th>
                <th>
                    Patient Name / Id
                </th>
                <th>
                    Driver Name / Id
                </th>
                <th>
                    Distance
                </th>
                <th>
                    PickUp Location
                </th>
                <th>Drop Location</th>
                <th>
                    Amount
                </th>
            </tr>

        </thead>
        @if (Model.Ambulance == null)
        {
            if (TempData["msg"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["msg"]
                </div>
            }
        }
        else
        {
            <tbody>
                @{
                    decimal? TotalAmount = 0;
                }
                @foreach (var item in Model.Ambulance)
                {
                    <tr>
                        <td>@count</td>
                        <td>
                            @item.PatientName / @item.UniqueId
                        </td>
                        <td>
                            @item.DriverName / @item.DriverId
                        </td>
                        <td>
                            @Math.Round((double)item.Distance)
                        </td>
                        <td>
                            @item.ReverseStartLatLong_To_Location
                        </td>
                        <td>
                            @item.ReverseEndLatLong_To_Location
                        </td>
                        @{
                            TotalAmount += item.Amount;
                        }
                        <td>@item.Amount Rs.</td>
                    </tr>
                                count++;
                            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: right;"><strong>Total:</strong></td>
                    <td><strong>₹ @TotalAmount</strong></td>
                </tr>
            </tfoot>
                            }
        </table>
    
</div>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $('#table_id').DataTable();
</script> 
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');
</script>

