@model HospitalPortal.Models.ViewModels.AmbulancesReport

@{
    ViewBag.Title = "WeeklyReport";
    Layout = "~/Views/Shared/_PayoutLayoutPage.cshtml";
}

<h2>Weekly Report</h2>

<div id="main">

    @using (Html.BeginForm("WeeklyRecord", "AmbulanceReport", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                Start Date
                @Html.TextBoxFor(a => a.sdate, new { @class = "datepicker form-control", required = "required" })
            </div>
            <div class="col-md-4">
                End Date
                @Html.TextBoxFor(a => a.edate, new { @class = "datepicker form-control", required = "required" })
            </div>
            <div class="col-md-4">
                <input type="submit" id="test" value="Search" class="btn btn-primary" />
            </div>
        </div>
    }

    @if (Model.Ambulance == null)
    {
        if (TempData["msg"] != null)
        {
            <h2 style="color:blueviolet">
                @TempData["msg"]
            </h2>
        }
    }
    else
    {
        {
            double amt = (Math.Round(Model.PayAmt * ViewBag.Amount) / 100);
            double? Value = Model.PayAmt - amt;
        }
        <h2>Total Amount : Rs. @Model.PayAmt</h2>
        <table id="tables" class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Driver Name
                    </th>
                    <th>
                        Distance
                    </th>
                    <th>
                        PickUp / Drop
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ambulance)
                {
                    <tr>
                        <td>
                            @item.PatientName
                        </td>
                        <td>
                            @item.DriverName
                        </td>
                        <td>
                            @Math.Round(item.Distance)
                        </td>
                        <td>
                            @item.PickUp_Place / @item.Drop_Place
                        </td>
                        <td>@Math.Round((double)item.Amount) Rs.</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');
</script>
