@model HospitalPortal.Models.ViewModels.ReportDetails
@{
    ViewBag.Title = "ViewReport";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.sdate, new { @class = "datepicker form-control", required = "required" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.edate, new { @class = "datepicker form-control", required = "required" })
        </div>
        <div class="col-md-4">
            <input type="button" id="test" value="Search" class="btn btn-primary" />
        </div>
    </div>
}
@if (Model.LabList == null)
{
    if (TempData["msg"] != null)
    {
        <h2 style="color:blueviolet">
            @TempData["msg"]
        </h2>
    }
}
else
{
    <table id="tables" class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Month
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LabList)
            {
                <tr>
                    <td>
                        @item.TestDate1, @item.Year
                    </td>
                    <td>
                        @item.Amount
                    </td>
                </tr>
            }
            <tr>
                <td><h3>Total</h3></td>
                <td>
                    @if (ViewBag.Total != null)
                {
                        <h3 style="color:red"> ₹ @ViewBag.Total</h3>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');

    //$(".datepicker").datepicker({dateFormat: "yy/mm/dd",}).val();

    $("#test").click(function () {
        debugger
        var sdate = $("#sdate").val();
        var edate = $("#edate").val();
        $.ajax({
            url: "/ViewReport/MonthlyHealth?sdate=" + sdate + "&edate=" + edate + "",
            type: "get",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
                msg.text("");
            }
        });

    })


</script>