@model HospitalPortal.Models.ViewModels.ReportDetails
@{
    ViewBag.Title = "ViewReport";
    int count = 1;
}
<link href="/css/bootstrap.min.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.AppointmentDate, new { @class = "form-control", required = "required", type = "date" })
        </div>
        <div class="col-md-4">
            <input type="button" id="test" value="Search" class="btn btn-primary" />
        </div>
    </div>


}
@if (Model.doctorList == null)
{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-danger">
            @TempData["msg"]
        </div>
    }
}
else
{

<table id="table_id" class="table table-bordered">
    <thead style="background-color:lavender;">
        <tr>
            <th>Sr No.</th>
            <th>
                Date
            </th>
            <th>DoctorName / Id</th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.doctorList)
        {
            <tr>
                <td>@count</td>
                <td>
                    @item.Weeks, @item.Year
                </td>
                <td>@item.DoctorName (@item.DoctorId)</td>
                <td>
                    @item.Amount
                </td>
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;">Total:</td>
            <td>
                @if (ViewBag.Total != null)
                {
                    <strong>₹ @ViewBag.Total</strong>
                }
            </td>
        </tr>
    <tfoot>
        
</table>
}

<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $('#table_id').DataTable(
        {
            stateSave: true,
        });
</script>
<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>


    $(".datepicker").datepicker().datepicker('setdate', 'today');



    $("#test").click(function () {
        debugger
        var date = $("#AppointmentDate").val();
        $.ajax({
            url: "/ViewReport/WeeklyDoctor?week=" + date + "",
            type: "get",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);

            }
        });

    });
</script>