@model HospitalPortal.Models.ViewModels.TestListByLab
@{
    ViewBag.Title = "ShowTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<h2>Show Test List</h2>
@using (Html.BeginForm("ShowTest","AdminOperation", FormMethod.Get))
{
    <div style="margin-bottom:3%;">
        <a href="/AdminOperation/AddTestDetails?Id=@Model.labId" class="btn btn-primary">Add More</a>
    </div>
    <div class="row" style="margin-bottom:3%;">
        <div class="col-md-2">Search By Test Name</div>
        <div class="col-md-2"><input type="text" class="form-control" name="term" id="term" /></div>
        <div class="col-md-1"  style="margin-left: 2%;" ><input type="submit" value="Filter" class="btn btn-primary"/></div>
        @*<div class="col-md-2"><a href="/AdminOperation/ShowTest?LabId=@Model.labId" class="btn btn-primary ">Show All</a></div>*@
    </div>


    if (Model.TestsList.Count() == 0)
    {
        <h2>No Records</h2>
    }
    else
    {
        <table id="myTable" class="table table-bordered">
            <thead style="background-color:lavender;">
                <tr>
                    <th>Sr No.</th>
                    <th>Test Category</th>
                    <th>Test Amount</th>
                    <th>Test Name / Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model.TestsList)
            {
                <tr>
                    <td>@count</td>
                    <td><input type="hidden" value="@item.Id" />@item.TestName</td>
                    <td>&#8377; @item.TestAmount</td>
                    <td>@item.TestDesc</td>
                    <td>
                        @if (item.Lab_Id == null)
                        {
                        <a href="/AdminOperation/EditTest?testid=@item.Id" class="btn btn-info" onclick="return confirm('Are You Sure to Edit?')">Edit</a>
                        <a href="/AdminOperation/DeleteTest?Delid=@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure to Delete?')">Delete</a>
                        }
                        else
                        {
                            <span>Added By Lab</span>
                        }
                    </td>
                </tr>
                count++;
            }

        </table>
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageNumber)
            {
                <li class="page-item active"><a class="page-link" href="/Lab/TestHistory?pageNumber=@i">@i</a></li>

            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Lab/TestHistory?pageNumber=@i">@i</a></li>

            }
        }
    </ul>
</nav>

