@model HospitalPortal.Models.ViewModels.ChemistDTO
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #mainContainer {
        width: 60%;
        margin-top: 1%;
        margin-left: 1%;
    }
</style>

@using (Html.BeginForm("Edit", "Chemist", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div id="mainContainer">


        <div class="row">
            <div class="col-md-6">
                <h3>Update Profile</h3>
            </div>
        </div>
        <a href="/Chemist/All" class="btn btn-info">Back</a>
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.IsDeleted)
        @Html.HiddenFor(a => a.IsApproved)
        @Html.HiddenFor(a => a.AdminLogin_Id)   
        @Html.HiddenFor(a => a.LicenceImage)
        @Html.HiddenFor(a => a.IsCheckedTermsCondition)
        @Html.Partial("~/Views/Shared/_DisplayMessageUpdate.cshtml")


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Chemist Name * @Html.TextBoxFor(a => a.ChemistName, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.ChemistName)
                    </span>
                </div>
                <div class="form-group">
                    Shop Name * @Html.TextBoxFor(a => a.ShopName, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.ShopName)
                    </span>
                </div>
                <div class="form-group">
                    Mobile Number * @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.MobileNumber)
                    </span>
                </div>
                <div class="form-group">
                    Email Id * @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.EmailId)
                    </span>
                </div>
                <div class="form-group">
                    GST Number * @Html.TextBoxFor(a => a.GSTNumber, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.GSTNumber)
                    </span>
                </div>

                <div class="form-group">
                    State * @Html.DropDownListFor(a => a.StateMaster_Id, Model.States, "Select", new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.StateMaster_Id)
                    </span>
                </div>

                <div class="form-group">
                    City * @Html.DropDownListFor(a => a.CityMaster_Id,
Model.Cities
, "Select", new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.StateMaster_Id)
                    </span>
                </div>

                <div class="form-group">
                    Address * @Html.TextAreaFor(a => a.Location, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.Location)
                    </span>
                </div> 
                <div class="form-group">
                    Licence Validity * @Html.TextBoxFor(a => a.LicenseValidity, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.LicenseValidity)
                    </span>
                </div>
                @{Html.EnableClientValidation(false);}
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(Model.LicenceImage))
                    {
                        <img src="/Images/@Model.LicenceImage" class="thumb" />
                    }
                    Licence Image File * @Html.TextBoxFor(a => a.LicenceImageFile, new { @class = "form-control", type = "file" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.LicenceImageFile)
                    </span>
                </div>
                @{Html.EnableClientValidation(true); }


                <div class="form-group">
                    Licence Number * @Html.TextBoxFor(a => a.LicenceNumber, new { @class = "form-control" })
                    <span class="red">
                        @Html.ValidationMessageFor(a => a.LicenceNumber)
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
}
<script src="/Scripts/Library/jquery-1.7.1.min.js"></script>
<script src="/Scripts/Library/jquery-ui-1.8.20.min.js"></script>

@Html.Partial("~/Views/Shared/_StateCityLocCascading.cshtml")

@if (Model.IsApproved == false)
{
    <script src="~/Scripts/EditAlert.js"></script>
}